<div class="container w-100 text-dark">



    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
      </div>
    </div>
  
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text-monospace">
          Olá, me chamo Adriano e dentre meus hobbs um dos meus prefiridos, definitifamente, é a pesca esportiva. Criei esse blog com o intuito de dividir minhas experiências, desde quais equipamentos são mais indicados para determinado tipo de pesca, tutoriais de como montar equipamentos e dicas de locais para praticar e aproveitar um belo dia de pesca esportiva.
          Espero que iniciantes e amantes da pesca espotiva se identifiquem e aproveitem o conteúdo que será compartilhado por aqui. Grande abraço e boas pescas.
        </p>
      </div>
    </div>

  </div>
  <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center" *ngIf='auth.btnLogin()'>
        <button class="btn btn-outline-dark text-uppercase font-weight-bold mr-3" routerLink='/cadastro'>Cadastro</button>

        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/login'>Login</button>
      </div>
    </div>
    