<div class="card border-0 bg-transparent" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle tamanho" src="https://i.imgur.com/qIMqCcY.jpg" alt="Imagem de capa do card">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace">{{nome}}</h5>
        <p class="card-text text-center text-monospace">Desenvolvedor FullStack Java Jr, Bacharel em Química e pescador nas horas vagas</p>

        <a href="https://www.linkedin.com/in/adriano-rocha-544467101/"
            class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

        <a href="https://github.com/adr90dev" class="btn btn-outline-dark d-flex justify-content-center"
            target="_blank">GitHub</a>

    </div>
</div>